{% extends 'flatpages/index.html' %}

{% block title %} Ad Search List {% endblock title %}

{% block content %}
<!-- Аннотация страницы-->
<section class="section">
        <h1 class="title">Поиск объявлений</h1>
        <h2 class="subtitle">
        Здесь вы можете найти объявления. <strong>Фильтры</strong> ниже к вашим услугам)
        </h2>
</section>

<!-- Форма для поиска с фильтрами -->
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

<br>

{% for ad in filter.qs %} <!-- filter.qs, т.к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->

<div class="card">
    <div class="card-content">
        <div class="media">
            <!-- Информация слева-->
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>

            <div class="media-content">
                <p class="title is-4">
                    <a href="{% url 'ad_detail' ad.id %}">{{ ad.title | truncatewords:7 }}
                    </a>
                </p>
                <p class="subtitle is-6">{{ ad.user }} от {{ ad.creation_date | date:'d.M.Y' }} </p>
            </div>
            <!-- Информация справа-->
            <div class="media-right">
                <p class="title is-4">
                    {{ ad.get_category_display }}
                </p>
                <p class="subtitle is-6">
                    Откликов {{ ad.feedback_set.all | length }}
                </p>
            </div>
        </div>
    </div>
</div>

<br> <!-- Отступ -->

{% endfor %}
{% endblock content %}

