<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hello, Fan_site!</title>
        <!-- Подключаем картинки из файла статик-->
        {% load static %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <!-- Подключаем иконки "fontawesome"-->
        <script src="https://kit.fontawesome.com/d74256e39d.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar is-light has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
            <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
            </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item"  href="{% url 'ads_list' %}">
                    <span> Объявления </span>
                    <span class="icon">
                    <i class="fa-solid fa-feather"></i>
                    </span>
                </a>
                <a class="navbar-item" href="{% url 'search_advertisement' %}">
                    <span> Поиск </span>
                    <span class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </a>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            Еще
            </a>

        <div class="navbar-dropdown">
            <a class="navbar-item">
                О нас
            </a>
            <a class="navbar-item">
                Вакансии
            </a>

            <hr class="navbar-divider">

            <a class="navbar-item">
            Контакты
            </a>
        </div>
        </div>
        </div>

        {% if request.user.is_authenticated %}

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-info">
                    <span class="icon">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </span>
                    <span>Выйти</span>
                    </a>

                </div>
            </div>
        </div>

        {% else %}

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="sign/login/" class="button is-success">
                    <span class="icon">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    </span>
                    <span>Войти</span>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
        </nav>
        <!-- Responsive navbar finish-->

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                {% block content %}
                {{ flatpage.content }}
                {% endblock content %}
                </div>
            </div>
        </div>

    </body>
</html>